{% extends 'upload/base.html' %}
{% block title %}Quotes | Login {% endblock %}
{% block body %}


    <section>

        <div class="login">
            <h1>Log in here.</h1>
            <form id="log"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
        {% include 'upload/form-template.html' %}

        <button type="submit">login</button>




            </form>
            </div>




    </section>
     <footer>

        <p>bassam alamin quote site &copy;2018</p>


    </footer>

{% endblock %}